@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.App-header {
  background-image: url('/assets/images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(4px);
  /* optional glassy effect */
  padding: 15px 20px;
  display: flex;
  gap: 400px;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 14px;
}

.nav-menu li a:hover {
  color: #00bcd4;
}

.nav-menu li:last-child a {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 8px 14px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-menu li:last-child a:hover {
  background-color: #c0a9a9;
}

.hero {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.hero-left {
  flex: 1;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.hero-right img {
  object-fit: contain;
}

/* Text styles */
.hero-left h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-left p {
  font-size: 18px;
  color: #777;
  margin-bottom: 30px;
}

.hero-left h3 {
  font-size: 24px;
  color: #000;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  background-color: #ccc;
  padding: 4px;

}

.social-icons img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.social-icons a:hover {
  cursor: pointer;
}

.about-me {
  background-color: #1d1d1d;
  background-image: url('/assets/logos/LogoIT.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.about-me h2 {

  color: white;
  padding: 10px 20px;
}

.about-me p {
  color: #ccc;
  text-align: left;
  padding: 5px 20px;
}

.btn-read-more {
  background-color: #1d1d1d;
  color: white;
  border: 2px solid white;
  /* Green */
  padding: 3px 19px;
  margin-left: 19px;
  margin-top: 20px;
  border-top: none;
  border-bottom: none;
  margin-bottom: 18px;
}

.btn-read-more:hover {
  color: #00bcd4;
  cursor: pointer;
}

.portfolio {
  background-color: #D9D9D9;
}

.btn-about-me {
  margin-top: 40px;
  background-color: #D9D9D9;
  color: black;
  border: 4px solid black;
  padding: 13px 65px;
  font-size: bold;
  font-weight: 600;

}

.btn-about-me:hover {
  color: #00bcd4;
  cursor: pointer;
}

.portfolio-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px 26px 0px;
}

.portfolio-content p {
  color: #000;
  text-align: center;
  padding: 20px 20px;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.btn-explore {
  background-color: #D9D9D9;
  color: black;
  border: 2px solid black;
  padding: 3px 19px;
  margin-top: 20px;
  border-top: none;
  border-bottom: none;
  margin-bottom: 18px;
}

.btn-explore:hover {
  color: #00bcd4;
  cursor: pointer;
}
.portfolio-image{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
}



