@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
background-color: #D9D9D9;
  padding: 15px 20px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 400px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 14px;
}

.nav-menu li a:hover {
  color: #00bcd4;
}

.nav-menu li:last-child a {
  background-color:white;
  color: black;
  border-radius: 20px;
  padding: 8px 14px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-menu li:last-child a:hover {
  background-color: #c0a9a9;
}

